.collection-item {
	display: flex;
	justify-content: space-between;
  align-content: stretch;
  align-items: center;
}


.basket-delete {
	cursor: pointer;
}

.control-quantity {
	margin: 0 1.5rem;
}

.control-quantity button {
	cursor: pointer;
	vertical-align: middle;
  line-height: 1.5rem;
	margin: 0 0.2rem;
}
